* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.main {
  margin: 0.5rem 0.75rem;
}

.spiritualizedArtWorkContainer {
  padding: 5rem 0rem;
}

.spiritualizedArtWork {
  width: 100%
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}