.main {
  margin: 0.5rem 0.75rem;
}

.spiritualizedArtWorkContainer {
  padding: 5rem 0rem;
}

.spiritualizedArtWork {
  max-width: 100%
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}